{#- News/blog list card. Expects `post` set by the caller. -#}
<li class="post-card">
  <a href="{{ post.url }}">
    {%- if post.data.cover %}
    <img class="thumb" src="{{ post.data.cover }}" alt="" loading="lazy">
    {%- endif %}
    <span class="title">{{ post.data.title }}</span>
    <div class="meta"><time datetime="{{ post.date | htmlDateString }}">{{ post.date | htmlDateString }}</time></div>
    {%- if post.data.description %}
    <div class="desc">{{ post.data.description }}</div>
    {%- endif %}
  </a>
</li>
